.sidebar-user-material .sidebar-user-material-body {
    background: url(/images/backgrounds/user_bg4.jpg) center center no-repeat;
    background-size: cover;
}

.btn-primary-red {
    color: #fff;
    background-color: #EC4040;
    border-color: #EC4040;
}

.bg-indigo {
    background-color: #5F96FD;
    ;
    border-color: #5F96FD;
    ;
    color: #fff;
}

@media (max-width: 575px) {
    .space {
        margin-top: 5px;
    }
}

.login-cover {
    background: url('../images/login_cover.jpg') no-repeat;
    background-size: cover;
}

.system-cover {
    background: url('../images/farmasi.jpg') no-repeat;
    background-size: cover;
}


/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767px) {
    .space {
        margin-top: 5px;
    }
}


/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991px) {
    .space {
        margin-top: 5px;
    }
}

.btn-primary-red {
    color: #fff;
    background-color: #EC4040;
    border-color: #EC4040;
}

.bg-primary {
    background-color: #5F96FD;
    border-color: #5F96FD;
    color: #fff;
}

.dataTables_filter input {
    outline: 0;
    width: 300px;
    height: 38px;
    padding: 8px 0;
    padding-right: 24px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: transparent;
    border: 1px solid transparent;
    border-width: 1px 0;
    border-bottom-color: #ddd;
}

.dataTables_filter {
    position: relative;
    display: block;
    float: left;
    margin: 2rem 0 1.25rem 1.25rem;
}

.dataTables_info {
    float: left;
    padding-top: 0.5rem;
    padding-right: 0px;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    margin-bottom: 1.25rem;
}

.dataTables_filter input:focus {
    border-bottom-color: #0064D2;
    -webkit-box-shadow: 0 1px 0 #5F96FD;
    box-shadow: 0 1px 0 #5F96FD;
}

.dropdown-menu>.dropdown-submenu.active>a {
    background-color: #5F96FD;
    color: #fff;
}

.datepicker table tr td.active,
.datepicker table tr td span.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td span.active.disabled,
.datepicker table tr td.active:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover {
    background-color: #5F96FD;
    color: #fff;
}

.ui-datepicker table td.ui-datepicker-current-day .ui-state-active {
    background-color: #5F96FD;
    color: #fff;
}

.ui-datepicker table td.ui-datepicker-today .ui-state-highlight {
    background-color: #ffd400;
    color: #fff;
}

.sidebar-default .navigation li.active>a,
.sidebar-default .navigation li.active>a:hover,
.sidebar-default .navigation li.active>a:focus {
    background-color: #eeeded;
    color: #000000;
}

.select2-results__option[aria-selected=true] {
    background-color: #5F96FD;
    color: #fff;
}

.select2-container--focus .select2-selection--single:not([class*=bg-]):not([class*=border-]),
.select2-container--open .select2-selection--single:not([class*=bg-]):not([class*=border-]) {
    border-bottom-color: #5F96FD;
    -webkit-box-shadow: 0 1px 0 #5F96FD;
    box-shadow: 0 1px 0 #5F96FD;
}

.btn-yellow-cancel {
    color: #fff;
    background-color: #ffd400;
    border-color: #ffd400;
}

.btn-yellow-cancel:focus,
.btn-yellow-cancel.focus {
    color: #fff;
    background-color: #ffd400;
    border-color: #ffd400;
}

.btn-yellow-cancel:hover {
    color: #fff;
    background-color: #ffd400;
    border-color: #ffd400;
}

.btn-yellow-cancel:active,
.btn-yellow-cancel.active,
.open>.dropdown-toggle.btn-yellow-cancel {
    color: #fff;
    background-color: #ffd400;
    border-color: #ffd400;
}

.btn-yellow-cancel:active:hover,
.btn-yellow-cancel.active:hover,
.open>.dropdown-toggle.btn-yellow-cancel:hover,
.btn-yellow-cancel:active:focus,
.btn-yellow-cancel.active:focus,
.open>.dropdown-toggle.btn-yellow-cancel:focus,
.btn-yellow-cancel:active.focus,
.btn-yellow-cancel.active.focus,
.open>.dropdown-toggle.btn-yellow-cancel.focus {
    color: #fff;
    background-color: #ffd400;
    border-color: #ffd400;
}

.btn-yellow-cancel:active,
.btn-yellow-cancel.active,
.open>.dropdown-toggle.btn-yellow-cancel {
    background-image: none;
}

.btn-yellow-cancel.disabled:hover,
.btn-yellow-cancel[disabled]:hover,
fieldset[disabled] .btn-yellow-cancel:hover,
.btn-yellow-cancel.disabled:focus,
.btn-yellow-cancel[disabled]:focus,
fieldset[disabled] .btn-yellow-cancel:focus,
.btn-yellow-cancel.disabled.focus,
.btn-yellow-cancel[disabled].focus,
fieldset[disabled] .btn-yellow-cancel.focus {
    background-color: #ffd400;
    border-color: #ffd400;
}

.form-control:focus {
    outline: 0;
    border-color: transparent;
    border-bottom-color: #5F96FD;
    -webkit-box-shadow: 0 1px 0 #5F96FD;
    box-shadow: 0 1px 0 #5F96FD;
}

.btn-blue-success {
    color: #fff;
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success:focus,
.btn-blue-success.focus {
    color: #fff;
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success:hover {
    color: #fff;
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success:active,
.btn-blue-success.active,
.open>.dropdown-toggle.btn-blue-success {
    color: #fff;
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success:active:hover,
.btn-blue-success.active:hover,
.open>.dropdown-toggle.btn-blue-success:hover,
.btn-blue-success:active:focus,
.btn-blue-success.active:focus,
.open>.dropdown-toggle.btn-blue-success:focus,
.btn-blue-success:active.focus,
.btn-blue-success.active.focus,
.open>.dropdown-toggle.btn-blue-success.focus {
    color: #fff;
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success:active,
.btn-blue-success.active,
.open>.dropdown-toggle.btn-blue-success {
    background-image: none;
}

.btn-blue-success.disabled:hover,
.btn-blue-success[disabled]:hover,
fieldset[disabled] .btn-blue-success:hover,
.btn-blue-success.disabled:focus,
.btn-blue-success[disabled]:focus,
fieldset[disabled] .btn-blue-success:focus,
.btn-blue-success.disabled.focus,
.btn-blue-success[disabled].focus,
fieldset[disabled] .btn-blue-success.focus {
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success .badge {
    color: #5F96FD;
    background-color: #fff;
}

.text-wrap {
    white-space: normal;
}

.width-200 {
    width: 200px;
}